**
!app/
!app/**
!docker/
!docker/**
# Ignore all dot files
.*

# Docker
docker-compose*.yml
docker/
!docker/entrypoint.app.sh
!docker/entrypoint.app.dev.sh
!docker/entrypoint.worker-jobs.sh
!docker/entrypoint.worker-jobs.dev.sh
!docker/healthcheck-worker-jobs.sh
!docker/entrypoint.worker-monitor.sh
!docker/entrypoint.worker-monitor.dev.sh

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Build
src/
scripts/

# Node
node_modules/
package-lock.json
package.json
tailwind.config.js

# Static assets and uploads
upload/
