{% from "macros/dialog.html" import dialog %}
{% from "macros/tabs.html" import tabs %}

{% call dialog(
  id="dialog-project-storage",
  title=_("Add storage"),
  description=_("Connect new or existing storage to this project."),
  dialog_attrs={"class": "w-full max-w-xl"},
  body_attrs={"class": "space-y-4"}
) %}

{% if available_storages | length > 0%}
  {% set create_storage_panel %}
    {% with form=create_storage_form, storages=None, fragment="create_storage" %}
      {% include "project/partials/_dialog-project-storage-form.html" with context %}
    {% endwith %}
  {% endset %}

  {% set connect_storage_panel %}
    {% with form=connect_storage_form, storages=available_storages, fragment="connect_storage" %}
      {% include "project/partials/_dialog-project-storage-form.html" with context %}
    {% endwith %}
  {% endset %}

  {{ tabs(
    tabsets=[
      {
        "id": "create-storage",
        "tab": _("Create new"),
        "panel": create_storage_panel,
        "panel_attrs": {"class": "pt-2"}
      },
      {
        "id": "connect-storage",
        "tab": _("Connect existing"),
        "panel": connect_storage_panel,
        "panel_attrs": {"class": "pt-2"}
      }
    ],
    main_attrs={"class": "w-full"},
    tablist_attrs={"class": "w-full"}
  ) }}
{% else %}
  {% with form=create_storage_form, storages=None, fragment="create_storage" %}
    {% include "project/partials/_dialog-project-storage-form.html" with context %}
  {% endwith %}
{% endif %}
{% endcall %}
