{% extends "layouts/app.html" %}

{% block app_content %}
{% from "macros/avatar.html" import avatar with context %}
{% from "macros/copy.html" import copy %}

<div class="container max-w-screen-xl mx-auto p-8 space-y-6">
  <header class="flex justify-between items-center">
    <h1 class="h1 flex items-center gap-x-3">
      <a href="{{ url_for('team_storage', team_slug=team.slug) }}" class="shrink-0">
        {{ avatar(item=team, prefix="team", name=team.name, size="md") }}
      </a>
      <span class="text-muted-foreground/25 font-normal">/</span>
      <a href="{{ url_for('team_storage', team_slug=team.slug) }}">
        {{ _('Storage') }}
      </a>
      <span class="text-muted-foreground/25 font-normal">/</span>
      <a href="{{ request.url_for('team_storage', team_slug=team.slug).include_query_params(storage_type=storage.type) }}">
        {{ _('Databases') if storage.type in ['database', 'mariadb'] else _('Volumes') }}
      </a>
      <span class="text-muted-foreground/25 font-normal">/</span>
      {{ storage.name }}
    </h1>
  </header>

  <div class="flex flex-row-reverse gap-x-6">
    <nav class="sticky top-[122px] min-w-64 h-full flex flex-col gap-y-1 max-lg:hidden">
      {% if storage.type != "mariadb" %}
        <a href="#usage" class="btn-sm-ghost justify-start">{{ _('Usage') }}</a>
      {% endif %}
      <a href="#general" class="btn-sm-ghost justify-start">{{ _('General') }}</a>
      <a href="#projects" class="btn-sm-ghost justify-start">{{ _('Projects') }}</a>
      {% if storage.type == "database" %}
        <a href="#db-admin" class="btn-sm-ghost justify-start">{{ _('Administration') }}</a>
      {% elif storage.type == "mariadb" %}
        <a href="#mariadb" class="btn-sm-ghost justify-start">{{ _('MariaDB') }}</a>
      {% endif %}
      {% if storage.type in ['database', 'mariadb'] and get_access(role, 'admin') %}
        <a href="#backups" class="btn-sm-ghost justify-start">{{ _('Backups') }}</a>
      {% endif %}
      {% if get_access(role, "admin") %}
        <a href="#danger" class="btn-sm-ghost justify-start text-destructive hover:bg-destructive/10 dark:hover:bg-destructive/20">{{ _('Danger') }}</a>
      {% endif %}
    </nav>

    <div class="space-y-6 w-full form">
      {% if storage.type != "mariadb" %}
        <section id="usage" class="alert">
          {% include "icons/info.svg" %}
          <h3>{{ _('Usage') }}</h3>
          <section>
            {% if storage.type == "database" %}
              {% set storage_path = "/data/database/" ~ storage.name ~ "/db.sqlite" %}
              {% set storage_description = _('You can access this SQLite database in any of the selected environments at:') %}
            {% else %}
              {% set storage_path = "/data/volume/" ~ storage.name ~ "/" %}
              {% set storage_description = _('You can access this volume in any of the selected environments at:') %}
            {% endif %}
            <p>{{ storage_description }}</p>
            <div class="relative w-full mt-1">
              <input
                type="text"
                class="input w-full font-mono text-[13px] pr-9 text-muted-foreground"
                value="{{ storage_path }}"
                readonly
              />
              {{ copy(
                value=storage_path,
                class="btn-icon-ghost text-muted-foreground hover:text-accent-foreground absolute right-1.5 top-1/2 -translate-y-1/2 size-6"
              ) }}
            </div>
          </section>
        </section>
      {% endif %}

      <section class="relative rounded-xl scroll-mt-[101px]" id="general">
        {% include "team/partials/_storage-settings-general.html" %}
      </section>

      <section class="relative rounded-xl scroll-mt-[101px]" id="projects">
        {% include "team/partials/_storage-settings-associations.html" %}
      </section>

      {% if storage.type == "database" %}
        <section class="relative rounded-xl scroll-mt-[101px]" id="db-admin">
          {% include "team/partials/_storage-settings-db-admin.html" %}
        </section>
      {% elif storage.type == "mariadb" %}
        <section class="relative rounded-xl scroll-mt-[101px]" id="mariadb">
          {% include "team/partials/_storage-settings-mariadb.html" %}
        </section>
      {% endif %}

      {% if storage.type in ['database', 'mariadb'] and get_access(role, 'admin') %}
        <section class="relative rounded-xl scroll-mt-[101px]" id="backups">
          {% include "team/partials/_storage-settings-backup.html" %}
        </section>
      {% endif %}

      {% if get_access(role, "admin") %}
        <section class="relative rounded-xl scroll-mt-[101px]" id="danger">
          {% include "team/partials/_storage-settings-danger.html" %}
        </section>
      {% endif %}
    </div>
  </div>
</div> 
{% endblock %}
