{% from "macros/copy.html" import copy %}

<div class="card" id="installation-card">
  <header class="border-b">
    <h2>{{ _('Installation') }}</h2>
    <p>{{ _('Information about this installation and available updates.') }}</p>
  </header>

  <section class="space-y-4">
    {% if version_info %}
      <ul class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <li>
          <div class="text-muted-foreground">{{ _('Version') }}</div>
          <div id="installation-check" class="flex items-center gap-x-2 min-h-5.5">
            <span class="font-mono text-[13px]">{{ version_info.get('git_ref', '-') }}</span>
            <div
              id="installation-check-badge"
              hx-get="{{ url_for('admin_settings').include_query_params(fragment='installation-check') }}"
              hx-target="#installation-check-badge"
              hx-swap="innerHTML"
              hx-trigger="load once"
            >
              <div class="badge-secondary [&>svg]:animate-spin">
                {{ _('Checking') }}
                {% include "icons/loader.svg" %}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="text-muted-foreground">{{ _('Last updated') }}</div>
          <div class="h-5.5">{{ version_info.get('updated_at') | time_ago }}</div>
        </li>
        <li>
          <div class="text-muted-foreground">{{ _('Install ID') }}</div>
          <div class="flex items-center gap-x-2 h-5.5">
            <span class="font-mono truncate max-w-full flex-1 text-[13px]">{{ version_info.get('install_id', '-') }}</span>
            {{ copy(
              value=version_info.get('install_id'),
              class="btn-icon-ghost text-muted-foreground hover:text-accent-foreground size-3 [&_svg]:size-3"
            ) }}
          </div>
        </li>
      </ul>
    {% else %}
      <p class="text-muted-foreground">{{ _('No version information found.') }}</p>
    {% endif %}
  </section>
</div>
