<header class="px-2.5 py-1.5">
  <div class="font-medium">{{ current_user.name if current_user.name else current_user.username }}</div>
  <div class="text-muted-foreground">{{ current_user.email }}</div>
</header>

<hr role="separator" />

<a href="{{ url_for('user_settings') }}" role="menuitem" hx-boost="false">{{ _('Account settings') }}</a>
<a href="/" role="menuitem" hx-boost="false">{{ _('Default team') }}</a>

<hr role="separator" />

<button
  type="button"
  role="menuitem"
  onclick="document.dispatchEvent(new CustomEvent('basecoat:theme'))"
>
  <span class="hidden dark:block">{{ _('Theme: Light') }}</span>
  <span class="block dark:hidden">{{ _('Theme: Dark') }}</span>
  <span class="hidden dark:block ml-auto text-muted-foreground">{% include "icons/sun.svg" %}</span>
  <span class="block dark:hidden ml-auto text-muted-foreground">{% include "icons/moon.svg" %}</span>
</button>

<hr role="separator" />

<a href="{{ url_for('auth_logout') }}" role="menuitem">
  {{ _('Sign out') }}
</a>